<!-- Tarjetas de productos -->
<h1>Bienvenido {{user.first_name}}</h1>
<h2>Role: {{user.role}}</h2>
<button type="button" class="button button-add-to-cart" onclick="location.href='/views'">LOGOUT</button>
<button type="button" class="button button-add-to-cart" onclick="location.href='/views/addProduct'">Add Product</button>
<div class="products-cards-container">
  {{#each products}}
  <div class="product-card">
    <div class="product-info">
      <h2>{{nombre}}</h2>
      <p>{{grupo}}</p>
      <p>Precio: {{camiseta1.precio}}</p>
      <button type="button" class="button button-details" data-product-id="{{_id}}">Detalles</button>
    </div>
    <div class="product-buttons d-flex">
      <form id="add-to-cart-form-{{_id}}" onsubmit="event.preventDefault(); addToCart('644c87c3baaa2025e4053a75', '{{_id}}')">
          <input type="hidden" name="_method" value="POST">
          <input type="hidden" name="productId" value="{{_id}}">
          <input type="number" name="quantity" min="1">
          <button type="submit" class="button button-add-to-cart">Agregar al carrito</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>

<!-- Controlador de eventos para el botón de detalles -->
<script>
  const detailsButtons = document.querySelectorAll('.button-details');

  detailsButtons.forEach((button) => {
    button.addEventListener('click', async () => {
      const productId = button.dataset.productId;

      const response = await fetch(`/products/${productId}`);
      
      const product = await response.json();

      Swal.fire({
        title: product.productId.nombre,
        html: `
          <p>${product.productId.grupo}</p>
          <p>Precio: ${product.productId.camiseta1.precio}</p>
        `,
        confirmButtonText: 'Cerrar',
      });
    });
  });

  async function addToCart(cid, pid) {
    const quantity = document.querySelector(`#add-to-cart-form-${pid} input[name='quantity']`).value;
    const response = await fetch(`/carts/${cid}/products/${pid}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ quantity })
    });
    const result = await response.json();
    console.log('result: ',result);
  }

</script>